[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

branca = "==0.3.1"
fiona = "==1.8.3"
folium = "==0.7.0"
geopandas = "==0.4.0"
jupyter = "==1.0.0"
matplotlib = "==3.0.2"
numpy = "==1.15.4"
pandas = "==0.23.4"
pygdal = "==2.2.3.3"
pyproj = "==1.9.5.1"
scipy = "==1.1.0"
shapely = "==1.6.4.post2"
simplejson = "==3.13.2"
sphinx = "==1.8.2"
"ipython-sql" = "*"


[dev-packages]